.wrap{
    width: 350px;
    height: 150px;
    border: solid;
    background-color: black;
}
h1{
    font-weight: bolder;
    color: white;
}
p{
    font-weight: bolder;
    padding-left: 10px;
    color: grey;
}
button{
    font-weight: bolder;
    padding-left: 10px;
    justify-content: center;
}